.App {
  text-align: center;
}

.login-container {
  max-width: 800px;
  width: 100%;
  background: linear-gradient(white, lightgray, white);
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 0 auto;
}

label {
  height: 30px;
  width: 100%;
  display: block;
  padding: 5%;
}

button {
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  margin: 50px;
  width: 150px;
  height: 50px;
}

button:hover {
  background: lightgray;
}

p {
  color: red;
  font-size: 80%;
}

input {
  margin: 25px;
}